[2020-02-29 21:43] erikdarlingdata opened #3 "sp_HumanEvents: More reliable error handling"
Right now I have error handling "implemented", but the catch block doesn't seem to fire reliably. I need to figure out why, so that orphaned sessions aren't left up on the server.

[2020-02-29 21:45] erikdarlingdata opened #4 "sp_HumanEvents: Maybe over-counting query executions"
I think in certain parts of the code, grouping on event date is incorrect counts. Want to switch it to a MIN or MAX to aggregate instead.

[2020-02-29 22:11] erikdarlingdata opened #5 "sp_HumanEvents: Use sql_statement_post_compile instead of sql_statement_recompile"
I think we can just flip to using this instead, but I need to double check if it has the recompile reason in there.

[2020-02-29 22:32] erikdarlingdata opened #6 "sp_HumanEvents: Add query_parameterization_data event for people with compile issues"
"Fired on compile for every query relevant for determining if forced parameterization would be useful for this database."

[2020-03-01 15:40] #5 closed

[2020-03-01 16:05] erikdarlingdata opened #7 "sp_HumanEvents: Set duration to 0 for compile and recompile"
It's kinda stupid filtering on this because it's not query duration, it's compile duration.

[2020-03-01 16:29] erikdarlingdata commented on #7
Wait I already did this

[2020-03-01 16:29] #7 closed

[2020-03-01 22:01] #6 closed

[2020-03-01 22:18] #4 closed

[2020-03-01 22:43] #3 closed

[2020-03-02 16:10] sm8680 opened #9 "sp_pressure_detector"
SELECT @version = '1.0', @versiondate = '20200301';

For versions of SQL Server if they don't have the following 2 columns.
deqmg.reserved_worker_count and deqmg.used_worker_count

The following error message occurs.
Msg 102, Level 15, State 1, Line 18
Incorrect syntax near '.'.
Msg 156, Level 15, State 1, Line 24
Incorrect syntax near the keyword 'ORDER'

Consider Changing the placement of the ,

[2020-03-02 18:54] erikdarlingdata commented on #9
Done, thanks!

[2020-03-02 18:54] #9 closed

[2020-03-05 12:47] erikdarlingdata opened #10 "sp_HumanEvents: Add ability to use lightweight plan collection XE"
Add a flag to use this XE instead of the other plan collection XE: query_post_execution_plan_profile

[code]

[2020-03-05 12:48] erikdarlingdata opened #11 "sp_HumanEvents: Add functionality to write ring buffer data off to tables"
Would need a mechanism sort of like `sp_AllNightLog` to grab from active sessions and push to tables.

What'd have to happen:
- Sessions would need to be created with `@keepalive = 1`
- That would prefix the session type with "permanent" or something
- A separate code path would run and grab new data (which means I'd need a logging mechanism to keep track of when the last collection was) from any

[2020-03-05 12:57] erikdarlingdata opened #12 "sp_HumanEvents: Add ability to change XE definition settings"
Stuff people might wanna change:
 * max memory
 * use a file instead of the ring buffer
 * change startup state

I don't wanna go down the causality tracking route right now, because I'm not sure how helpful it is to any of the events I'm grabbing. It seems more useful with multiple events in one session.

It also adds some additional stuff to the XML parsing which wouldn't populate with it off, w

[2020-03-05 16:19] erikdarlingdata commented on #12
The tough part about this is going to be validating them in any way. Especially file paths.

[2020-03-07 23:05] erikdarlingdata commented on #12
maybe this is dumb yeah

[2020-03-07 23:05] #12 closed

[2020-03-08 15:47] erikdarlingdata commented on #10
I'm looking more closely at this, and remembering why it annoyed me:
 * It doesn't return a query plan
 * It returns operator level information (which is good information, but not a replacement)

It's not a drop-in replacement, and right now I'm not sure what information it would be helpful to get out of it. It reports actuals but not estimates, so there's nothing to compare.

I suppose it could b

[2020-03-09 11:17] erikdarlingdata commented on #10
I think I'm over this one.

[2020-03-09 11:17] #10 closed

[2020-03-12 16:02] ronaldgithub opened #13 "Invalid object name '#waits_agg' @debug = 1 mode"
**Version of the script**
SELECT @version = '1.0', @version_date = '20200301';

**What is the current behavior?**
Msg 208, Level 16, State 0, Procedure dbo.sp_HumanEvents, Line 1442 [Batch Start Line 12]
Invalid object name '#waits_agg'.

**If the current behavior is a bug, please provide the steps to reproduce.**
EXEC dbo.sp_HumanEvents @event_type = 'blocking',  @debug = 1;

**What is the expect

[2020-03-12 16:06] ronaldgithub commented on #11
That would be nice!

[2020-03-12 16:11] erikdarlingdata commented on #13
Go ahead grab the newest version, that's fixed.

/* erikdarlingdata.com */
/* sql server performance tuning */
________________________________
From: Ronald de Groot <notifications@github.com>
Sent: Thursday, March 12, 2020 12:03 PM
To: erikdarlingdata/DarlingData <DarlingData@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [erikdarlingdata/DarlingData] Invalid object n

[2020-03-12 16:13] ronaldgithub commented on #13
Thank you, I like the sp!

From: Erik Darling <notifications@github.com>
Sent: Thursday, March 12, 2020 05:12 PM
To: erikdarlingdata/DarlingData <DarlingData@noreply.github.com>
Cc: Ronald de Groot <ronald.de.groot@live.nl>; Author <author@noreply.github.com>
Subject: Re: [erikdarlingdata/DarlingData] Invalid object name '#waits_agg' @debug = 1 mode (#13)

Go ahead grab the newest version, that's

[2020-03-13 00:58] #13 closed

[2020-03-13 18:12] erikdarlingdata commented on #11
A lot of this is done.

Stuff I need to do:
 * change the startup state to on for events that will get logged to tables, or add code to start them up when we go looking for jobs to log to tables
 * add delete retention
 * create views that make the raw data logged to tables more helpful
 * maybe get that server diagnostics stuff

[2020-03-14 00:20] #11 closed

[2020-03-14 00:26] erikdarlingdata opened #15 "Add views on top of logging tables to present data better"
Logging to tables is done, but it's raw data. Getting data INTO the tables in good shape would have been terrible. As-is, it was pretty tedious getting everything right. Anyway, now I need to get the view data into a presentable format for people. They'll have to be created dynamically in the proc, which sucks, but maybe I can use synonyms.

[2020-03-16 11:09] ronaldgithub opened #18 "Blocking Waittime in View"
**Version of the script**
SELECT @version = '1.0', @version_date = '20200301';

**What is the current behavior?**
The wait_time is updated for all individual events when you test the same blocking situation twice.
So if the wait on the first session was 10 sec and the other session is 20 sec, the first session is updated also with 20 sec.

**If the current behavior is a bug, please provide the ste

[2020-03-16 13:51] erikdarlingdata commented on #18
Can you post a screenshot of what you mean? I'm not understanding the issue.

/* erikdarlingdata.com */
/* sql server performance tuning */
________________________________
From: Ronald de Groot <notifications@github.com>
Sent: Monday, March 16, 2020 7:09 AM
To: erikdarlingdata/DarlingData <DarlingData@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [erikdarlingdata/Dar

[2020-03-16 14:51] ronaldgithub commented on #18
![2020-03-16_12-10-43](https://user-images.githubusercontent.com/23001454/76770264-ece24680-679d-11ea-8080-2b178e8eabea.jpg)

[2020-03-16 14:51] #18 closed

[2020-03-16 14:51] ronaldgithub commented on #18
All the past sessions got the last time value.

[2020-03-16 15:00] ronaldgithub commented on #18
[cid:image001.jpg@01D5FBAB.F812F8F0]

Check the event_time against the wait_time, previous tests had different times..
I hop you understand it now.

Thank you very much for the code, I will use it a lot!

From: Erik Darling <notifications@github.com>
Sent: Monday, March 16, 2020 02:51 PM
To: erikdarlingdata/DarlingData <DarlingData@noreply.github.com>
Cc: Ronald de Groot <ronald.de.groot@live.nl>;

[2020-03-16 15:06] erikdarlingdata commented on #18
Ooh I see, yeah. That was an oversight on my part. I should have had transaction id and monitor loop as join conditions in the update. I just pushed a few changes to the dev branch. Try that out!

Thanks for the report!

[2020-03-16 15:10] ronaldgithub commented on #18
Thank you, I will try it now!

From: Erik Darling <notifications@github.com>
Sent: Monday, March 16, 2020 04:07 PM
To: erikdarlingdata/DarlingData <DarlingData@noreply.github.com>
Cc: Ronald de Groot <ronald.de.groot@live.nl>; State change <state_change@noreply.github.com>
Subject: Re: [erikdarlingdata/DarlingData] Blocking Waittime in View (#18)

Ooh I see, yeah. That was an oversight on my part.

[2020-03-16 15:18] ronaldgithub commented on #18
I still get them, downloaded the latest version.

[cid:image002.jpg@01D5FBAE.72567E50]

From: Erik Darling <notifications@github.com>
Sent: Monday, March 16, 2020 04:07 PM
To: erikdarlingdata/DarlingData <DarlingData@noreply.github.com>
Cc: Ronald de Groot <ronald.de.groot@live.nl>; State change <state_change@noreply.github.com>
Subject: Re: [erikdarlingdata/DarlingData] Blocking Waittime in View

[2020-03-16 15:19] erikdarlingdata commented on #18
I'm not really sure how many other join conditions I can add in here. Do you have any ideas? Can you post another screen shot of the data?

![image](https://user-images.githubusercontent.com/2136037/76772925-0ff9ff80-6778-11ea-83fa-1d1246851927.png)

[2020-03-16 15:20] ronaldgithub commented on #18
I will use the ‘dev’ branch version... (soory)

From: Erik Darling <notifications@github.com>
Sent: Monday, March 16, 2020 04:07 PM
To: erikdarlingdata/DarlingData <DarlingData@noreply.github.com>
Cc: Ronald de Groot <ronald.de.groot@live.nl>; State change <state_change@noreply.github.com>
Subject: Re: [erikdarlingdata/DarlingData] Blocking Waittime in View (#18)

Ooh I see, yeah. That was an over

[2020-03-16 15:26] ronaldgithub commented on #18
A bit too many...

[cid:image002.jpg@01D5FBAF.8DB6BE70]

From: Erik Darling <notifications@github.com>
Sent: Monday, March 16, 2020 04:20 PM
To: erikdarlingdata/DarlingData <DarlingData@noreply.github.com>
Cc: Ronald de Groot <ronald.de.groot@live.nl>; State change <state_change@noreply.github.com>
Subject: Re: [erikdarlingdata/DarlingData] Blocking Waittime in View (#18)

I'm not really sure how

[2020-03-16 15:30] ronaldgithub commented on #18
I will have a look at the code, I hope I can help you...

From: Erik Darling <notifications@github.com>
Sent: Monday, March 16, 2020 04:20 PM
To: erikdarlingdata/DarlingData <DarlingData@noreply.github.com>
Cc: Ronald de Groot <ronald.de.groot@live.nl>; State change <state_change@noreply.github.com>
Subject: Re: [erikdarlingdata/DarlingData] Blocking Waittime in View (#18)

I'm not really sure how

[2020-03-16 15:37] ronaldgithub commented on #18
Just a thought...
Get the max_event_time.. and don’t do the cross apply?

select report.event_time
,report.database_name
,report.database_id
,report.object_id
,report.transaction_id
,report.resource_owner_type
,report.monitor_loop
,report.blocked_process_report
-- blocking
,report.blocked_process_report.value('(//blocked-process-report/blocking-process/process/@spid)[1]','int') AS blocking_spid
,r

[2020-03-16 15:39] erikdarlingdata commented on #18
I'd like to avoid using event time as an identifier as much as possible. Can you explain a little how this helps?

[2020-03-16 15:50] ronaldgithub commented on #18
In step 1 the max event time is found based grouped by transaction
In step 2 just one //event is joined, so you don’t have a lot of records anymore
In step 3 and 4 it is easier (?) to parse the xml because it is in one column or call J. Keyhesian (this is so difficult, also when you hav namespaces involved..)..

Just a thought..

[cid:image001.jpg@01D5FBB3.024C72E0]

From: Erik Darling <notificati

[2020-03-16 15:52] erikdarlingdata commented on #18
Right, I get what the code does, but I'm trying to understand how it helps the situation you're running into? It doesn't look like you're doing an update anywhere.

/* erikdarlingdata.com */
/* sql server performance tuning */
________________________________
From: Ronald de Groot <notifications@github.com>
Sent: Monday, March 16, 2020 11:50 AM
To: erikdarlingdata/DarlingData <DarlingData@noreply.

[2020-03-16 16:00] ronaldgithub commented on #18
Yes you are right, but instead of each ‘loop’ you get one max record, I still have to figure out your code..
Perhaps an update from just the wait_time when the blocking session is still present..

From: Erik Darling <notifications@github.com>
Sent: Monday, March 16, 2020 04:53 PM
To: erikdarlingdata/DarlingData <DarlingData@noreply.github.com>
Cc: Ronald de Groot <ronald.de.groot@live.nl>; State c

[2020-03-16 16:01] erikdarlingdata commented on #18
Okay, yeah, take a look at the code and let me know if you have any questions.

/* erikdarlingdata.com */
/* sql server performance tuning */
________________________________
From: Ronald de Groot <notifications@github.com>
Sent: Monday, March 16, 2020 12:00 PM
To: erikdarlingdata/DarlingData <DarlingData@noreply.github.com>
Cc: Erik Darling <erik@erikdarlingdata.com>; Comment <comment@noreply.git

[2020-03-16 16:08] ronaldgithub commented on #18
I will, but I thought you mentioned in one of your videos that you thought about doing an ‘upsert’ ..

From: Erik Darling <notifications@github.com>
Sent: Monday, March 16, 2020 05:02 PM
To: erikdarlingdata/DarlingData <DarlingData@noreply.github.com>
Cc: Ronald de Groot <ronald.de.groot@live.nl>; State change <state_change@noreply.github.com>
Subject: Re: [erikdarlingdata/DarlingData] Blocking Wa

[2020-03-16 16:09] erikdarlingdata commented on #18
Yep, and I did! There's an insert for new data, and an update for existing data.

/* erikdarlingdata.com */
/* sql server performance tuning */
________________________________
From: Ronald de Groot <notifications@github.com>
Sent: Monday, March 16, 2020 12:08 PM
To: erikdarlingdata/DarlingData <DarlingData@noreply.github.com>
Cc: Erik Darling <erik@erikdarlingdata.com>; Comment <comment@noreply.g

[2020-03-16 16:13] ronaldgithub commented on #18
Give me some time, I will have a look tonight if I can figure it out..

From: Erik Darling <notifications@github.com>
Sent: Monday, March 16, 2020 05:10 PM
To: erikdarlingdata/DarlingData <DarlingData@noreply.github.com>
Cc: Ronald de Groot <ronald.de.groot@live.nl>; State change <state_change@noreply.github.com>
Subject: Re: [erikdarlingdata/DarlingData] Blocking Waittime in View (#18)

Yep, and

[2020-03-16 17:09] ronaldgithub commented on #18
UPDATE x2
    SET x2.wait_time = x.waittime
FROM [HumanEventsData].[dbo].keeper_HumanEvents_blocking AS x2
JOIN
(
    SELECT @@SERVERNAME AS server_name,
           'blocked' AS activity,
           c.value('(data[@name="database_id"]/value)[1]', 'INT') AS database_id,
           c.value('(data[@name="object_id"]/value)[1]', 'INT') AS object_id,
           c.value('(data[@name="transaction_id"]/va

[2020-03-16 17:34] erikdarlingdata commented on #18
I understand that you're trying to help, and I appreciate it, but one of the most helpful things you can do is communicate clearly in these issues. We've been going back and forth a bit now.

In your most recent addition, you've pasted the update statement with no comment, and a single question mark before a predicate. If you look at [the code in the dev branch](https://github.com/erikdarlingdata/

[2020-03-18 13:05] erikdarlingdata commented on #15
This is done, so far as I can tell.

[2020-03-18 13:05] #15 closed

[2020-03-18 13:10] erikdarlingdata opened #20 "Clean up mode"
Add a flag to clean up after ourselves.
 * events
 * tables
 * views

User will have to supply the database to target for views and tables, but can re-use existing variables for that.

[2020-03-23 17:42] #20 closed

[2020-05-06 02:44] erikdarlingdata opened #27 "sp_HumanEvents: Memory Grant info is gonna be wacky in views"
The only one of the "query" events that gets memory grant information is the query plan event, which
 - Reports it for the batch which sucks for procs
 - But has it in the query plans

I can fix this in the proc easily by hitting the xml memory grant info real quick. It's not going to be as easy in the views. My options are to give misleading details for queries that are in stored procs, or add xm

[2020-05-08 14:25] #27 closed

[2020-05-08 14:26] erikdarlingdata opened #28 "Add ability to filter by recompile reason"
Some people might only want to catch recompiles for specific reasons.

[2020-05-11 17:08] mmcapps88 opened #30 "Possible enhancement to dbo.get_numbers and dbo.get_letters"
Hi, These are great functions and work very well and quickly as you say.

Having followed some of your suggested background material and landed on [Jeff Moden's article on string splitting](https://www.sqlservercentral.com/articles/tally-oh-an-improved-sql-8k-%E2%80%9Ccsv-splitter%E2%80%9D-function), I notice that he uses an inline CTE instead of a Tally Table and so I experimented with your code

[2020-05-11 17:13] erikdarlingdata commented on #30
Hi! Thanks for stopping by!

I don't think it's an over-complication, but like I said in the post "I found the numbers table approach faster. Granted, it’s also less portable, but that’s a trade-off I’m willing to make".

IIRC the numbers table approach was 3-4 seconds faster in the example queries. I suppose it depends on what you're doing with them, though.

[2020-05-12 12:24] Glossopian commented on #30
I found the following test script very surprising, the second version is more performant and portable!

`SET NOCOUNT ON;

---------------------------------------------------------------------------------------------------------
-- mmcapps88 cCTE
---------------------------------------------------------------------------------------------------------
PRINT '-----------------------------------------

[2020-05-12 13:28] erikdarlingdata commented on #30
@Glossopian I see the creation scripts but no details about the tests you ran.

[2020-05-12 13:35] Glossopian commented on #30
@erikdarlingdata I stripped out the create function statements and simply ran the same test on the same sample string
`DECLARE @string NVARCHAR(4000) = N'rfge535drgsgh786rfvsfasf';`
The only difference is the numbers table, whether to use a cCTE, Jeff's function or a permanent table. Not an extensive test I know, but when you view the execution plans for each, the difference between each is, as I

[2020-05-12 13:38] erikdarlingdata commented on #30
@Glossopian Gotcha, yeah, I'm not interested in running these against a single short string. If you refer back to [my post](https://www.erikdarlingdata.com/2020/05/extracting-only-letters-or-numbers-from-a-string/), the usage pattern is doing this against an entire table. Thanks though!

[2020-05-12 14:45] Glossopian commented on #30
@erikdarlingdata Missed that ;-).  I came here directly from a link sent out by Brent Ozar.  And my first thought was "could we use a cCTE instead of a permanent table?"  I then saw the OP had raised this too and did a quick (and dirty) test.  I have re-factored the cCTE into a function and ran it against a million row test table.  **And you are quite right**, a permanent number table wins hands d

[2020-05-12 14:55] erikdarlingdata commented on #30
@Glossopian yeah, it's always a lot of fun! If you show me how you tested I'll see if I can repro. Thanks!

[2020-05-12 15:04] Glossopian commented on #30
It uses another Jeff Moden masterpiece JBMTest:

[code]

Here's the function I created (The Letters one, adapted from your function.  The only change should be the omission of the numbers table, replaced with the cCTE)
[code]
And here is the test
[code]

[2020-05-12 19:47] erikdarlingdata commented on #30
Very cool! Yeah, that performs about as well using the test from the blog post too. Nice work!

[2020-05-14 13:50] micke314 opened #31 "Suggestion to improve XML shredding performance"
From what I can tell, #human_events_xml ends up with 1 row with entire XML. If possible it is often a good thing to pre-shred that to smaler parts. Here it looks like you could change #human_events_xml to have 1 row for each event instead and do this change without changing any other code and all will hopefully be fast and sweet.
For me with a session capturing about 50 queries the part that shred

[2020-05-14 14:00] cdawson1971 opened #32 "get_numbers fails on NULL strings"
The functions work but they don't handle NULL strings.

[code]
If you update the function code to handle the NULLs you don't have to worry about it as the caller. Not sure the impact on performance but something like:

[code]
Then call without errors, without checking for NULL:

[code]

[2020-05-14 14:03] erikdarlingdata commented on #31
Just to make sure I fully understand: what's the advantage of assigning the XML to a variable up front, and then shredding? Does something weird happen in the DMV query that could lead to extra XML-shredding before the `target_name` filter is applied?

[2020-05-14 14:04] erikdarlingdata commented on #32
Awesome! I'll get this fixed. I'm gonna branch to have two versions: one set that work off a numbers table and one that work of an internal CTE. I've used your suggestion for other things in the past, and I don't think there's a perf hit checking for nulls there.

[2020-05-14 14:19] micke314 commented on #31
You mean instead of shredding on the value converted to xml from nvarchar(max) in the DMV. That is blogged about here.

https://www.sql.kiwi/2012/09/compute-scalars-expressions-and-execution-plan-performance.html

The cast to XML is deferred to where ever the query needs the XML, for each row, for each value and when the cast is done the XML is validated over and over again.

So by casting to a va

[2020-05-14 14:20] erikdarlingdata commented on #31
Oh wow, that's badass! Thanks. I wonder if I could use that in sp_BlitzLock too.

[2020-05-14 14:24] micke314 commented on #31
It does not of course have to be a variable to fix this, it could as well have been to a temp table with an XML column.

You will have the exact same issue if you shred queryplans from the query store.
Dump the querystore to a temp table with an XML column and shred  the temp table instead.
Will probably be much faster.

[2020-05-14 21:08] erikdarlingdata commented on #31
@micke314 works awesome! Thank you!

[2020-05-14 21:09] #31 closed

[2020-05-14 21:10] erikdarlingdata commented on #28
I sort of doubt this is going to be a thing.

[2020-05-14 21:10] #28 closed

[2020-05-14 21:29] #30 closed

[2020-05-14 21:29] #32 closed

[2020-05-15 09:30] micke314 opened #35 "Execution count for queries is 1"
Started using this for real today, fantastic.

The latest version surfaced a bug in execution count for queries.
This should not do the OVER() part since you already group by the same columns.

[code]

[2020-05-15 12:15] erikdarlingdata commented on #35
Doh! You're totally right. I've been tinkering with that query a bunch lately and forgot to clean that up.

[2020-05-18 15:30] erikdarlingdata opened #36 "Make it easier to filter wait stats"
Should add some keywords here, like:
 * CPU
 * Memory
 * Disk
 * Lock
 * Poison

To grab related waits from each category, rather than making people list them out.

[2020-05-18 17:03] #35 closed

[2020-05-22 00:49] tpbrownec opened #38 "HumanEvents_Blocking fails in query"
@version = '1.5', @version_date = '20200501';

Running
SELECT TOP 1000 * FROM dbo.HumanEvents_Blocking;

Ouput:
Msg 530, Level 16, State 1, Line 2
The statement terminated. The maximum recursion 100 has been exhausted before statement completion.

Running the following works fine:
select top 1000 * from dbo.[eeper_HumanEvents_blocking

SQL Server 2019 Development CU4

[2020-05-22 00:50] erikdarlingdata commented on #38
I have a fix for this. Can you grab the version in the dev branch? Thanks.

[2020-05-22 00:52] tpbrownec commented on #38
I'll do that

[2020-05-22 01:07] tpbrownec commented on #38
Installed new version of SP
deleted the view: dbo.HumanEvents_Blocking;
ran
EXEC sp_HumanEvents @output_database_name = N'HumanEvents', @output_schema_name = N'dbo';
new version of view was created.

Query still fails!

[2020-05-22 01:28] erikdarlingdata commented on #38
Hm, weird. The fix is here. I definitely know what you're talking about.

https://github.com/erikdarlingdata/DarlingData/commit/84581a68e4da82fd664e2632687721335336ad7a#diff-bcf3f7d484f6222d3a4ba16693ba0bfe

If you can, make sure you've got the right view version by checking the definition. It should start like this:

[code]

The most important thing being the where clause at the end

Then you sho

[2020-05-22 01:43] tpbrownec commented on #38
As far as I can tell that matches.  What should I send you?
The keeper_HumanEvents_blocking table has only 460 rows

PS:  I'm just trying this out.  No urgency here. But I like what you are doing!

[2020-05-22 01:50] tpbrownec commented on #38
Also, the changes as listed in your commit are in my version

[2020-05-22 01:53] erikdarlingdata commented on #38
Ah, okay, sorry about that.

If you can, send me the table data in an Excel file, just without the longer text data like query text and the blocked process report XML.

Thanks!

[2020-05-22 02:49] tpbrownec commented on #38
Here is the data attached
[HumanEvents_sampledata.xlsx](https://github.com/erikdarlingdata/DarlingData/files/4665821/HumanEvents_sampledata.xlsx)

[2020-05-22 12:50] erikdarlingdata commented on #38
Got it, thanks! I'll take a look soon.

[2020-05-22 14:33] erikdarlingdata commented on #38
First, you have some very weird blocking going on. If you look at:
`SELECT * FROM keeper_HumanEvents_blocking ORDER BY id;`
It's a bunch of crazy system stuff.

Second, I totally ate it on my recursive CTE. It worked fine on the blocking demos I have, but yours created an infinite loop. I don't see an easy way to fix that, and I don't want to keep hitting it.

There's a new version in the dev bran

[2020-05-22 14:33] #38 closed

[2020-05-22 14:38] tpbrownec commented on #38
Yeah, I was trying to figure out why my create database was failing.  Turns out that the script I was running to find fragmentation in a database locked 'model'.

[2020-05-22 14:40] erikdarlingdata commented on #38
That'll teach you to go looking for fragmentation 😃

[2020-05-22 14:43] tpbrownec commented on #38
Its all using stackoverflow...just learning how stuff works.

Thanks for looking at this

[2020-05-26 13:11] ktaranov opened #40 "Typo in name of READEME.md"
READEME.md change to README.md

[2020-05-26 13:16] ktaranov opened #41 "Add linguist override to .gitattributes file"
[code]

More details here: https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/pull/2090

[2020-05-26 13:36] erikdarlingdata commented on #40
Done, thanks!

[2020-05-26 13:36] #40 closed

[2020-05-26 13:36] erikdarlingdata commented on #41
Done, thanks!

[2020-05-26 13:36] #41 closed

[2020-05-28 16:08] grahamfurner opened #42 "Error at line 2021 when running with @event_type = 'blocking'"
**Version of the script**
1.5

**What is the current behavior?**
The following error is thrown:
Msg 205, Level 16, State 1, Procedure dbo.sp_HumanEvents, Line 2021 [Batch Start Line 1]
All queries combined using a UNION, INTERSECT or EXCEPT operator must have an equal number of expressions in their target lists.

*Cause:*
The column `sqlhandle` is missing from the `INSERT INTO #blocking` statement

[2020-05-28 18:14] tpbrownec opened #43 "Help error message on running sp_HumanEvents"
I run this using latest version in master:
EXEC sp_HumanEvents @output_database_name = N'HumanEvents', @output_schema_name = N'dbo';

and the messages tab has this at the end:

Generating insert table statement for keeper_HumanEvents_query
Msg 50000, Level 16, State 1, Procedure sp_HumanEvents, Line 3049 [Batch Start Line 5]

Msg 248, Level 16, State 1, Line 6
The conversion of the nvarchar value

[2020-05-28 18:17] erikdarlingdata commented on #42
Great catch, thanks! I'll have this fixed ASAP.

[2020-05-28 18:18] erikdarlingdata commented on #43
No, I've not run into that one. Can you provide a little more detail by either telling me which events you're logging data for, or using `@debug = 1` so I can narrow down which event session/table needs to use a `BIGINT` instead of an `INT`?

[2020-05-28 18:37] tpbrownec commented on #43
I changed cpu_time on line 2717 to BIGINT and the error went away.

Now I want to see what the query was that caused that!

[2020-05-28 18:52] tpbrownec commented on #43
The problem appears to be the HumanEvents job!  It ran for 10 hours the other day.  The cpu number was from THAT job!

Need to think about skipping jobs/procs that are designed to run 'permanently'
The job i used was the one in github.  It has a schedule name of "sp_HumanEvents: 10 second Check In" but is set to run once a week.

I going to play with that...

[2020-05-28 19:21] tpbrownec commented on #43
The logginig Job uses about 50% of one core as long as it is running...

[2020-05-28 19:30] erikdarlingdata commented on #43
I'm not sure what to do with this information. It runs every 5 seconds, so:
 * Should it run less often?
 * Did you spot a tuning opportunity?
 * What's your expectation for how much CPU it should use?

I get an email every time you post a comment here. I appreciate the feedback, but please make sure you're clear about what you want to happen so I can prioritize fixes.

Thanks,
Erik

[2020-05-28 19:43] tpbrownec commented on #43
Sorry about the chatter, but what I really need here is a chat channel.

The only 'fix' at this point is to change that cpu_time to BIGINT.

Everything else is just observations that I'm documenting.  That's why I didn't put this in Bug or feature when originally posted (but you did change it to bug)....When I have a concrete suggestion, I'll add one or the other to issues.

Thanks for being patie

[2020-05-29 09:11] grahamfurner commented on #42
Thanks. I love this script btw.

[2020-05-29 13:36] #42 closed

[2020-05-29 13:36] #43 closed

[2020-05-30 00:14] erikdarlingdata opened #45 "Username validation for AD accounts doesn't work"
It seems like if domain accounts are tied to MSAs or gMSAs then my crafty username check doesn't work.

Not sure if I should
 * Skip the check and just validate the string like I do others
 * Skip the check if the username has a `\` in it
 * Something else?

[2020-06-02 16:32] erikdarlingdata opened #46 "Make Azure SQL DB Compatible"
This is an easy fix, all I need to do is change the event session to `ON DATABASE` instead of `ON SERVER` for it to work.

[2020-06-08 19:01] sudhaar opened #47 "SP_humanevents"
SP_humanevents failing with below error on SQl server 2012 Always on SP2.
sp_humanevents  @event_type = 'Queries',@seconds_sample = 30;

Error:
Msg 50000, Level 16, State 1, Procedure sp_HumanEvents, Line 3050 [Batch Start Line 0]

Msg 25623, Level 16, State 3, Line 2
The event action name, "sqlserver.query_hash_signed", is invalid, or the object could not be found

[2020-06-08 19:06] erikdarlingdata commented on #47
Yep, the problem is that you're on SQL Server 2012 SP2, which has been out of support for a few years now. If you want to use this proc, you need to[ upgrade to SP4](https://sqlserverupdates.com/sql-server-2012-updates/), which came out back in 2017.

I can't support unsupported SQL Server versions.

Thanks!

[2020-06-08 19:06] #47 closed

[2020-06-08 19:08] sudhaar commented on #47
I agree and I thought the same. Thanks for the update

Thanks,
Sudhakar

Notice: The information contained in this communication, including any attachments, is confidential and is intended only for the use of the recipient(s) named above. If the reader of this message is not an intended recipient, you are notified that any dissemination, distribution or copying of this communication is strictly pr

[2020-06-08 19:11] erikdarlingdata opened #48 "sp_HumanEvents - Improve case sensitivity compatibility"
For some parameters, I check the validity of inputs. This can fail on case sensitive instances.

[2020-06-11 18:06] #45 closed

[2020-06-11 18:06] #46 closed

[2020-06-11 18:06] #48 closed

[2020-06-12 11:40] micke314 opened #51 "There are too many executions"
**Version of the script**
SELECT @version = '1.5', @version_date = '20200501';

**What is the current behavior?**
With event_type query the number of executions is counted twice.

**If the current behavior is a bug, please provide the steps to reproduce.**
Start sp_HumanEvents with @event_type = 'query', @gimme_danger = 1
Quickly jump to another tab and run a query three times, no more no less. Th

[2020-06-12 11:42] micke314 commented on #51
I tried to fix it in a fork that you can use if you like it https://github.com/micke314/DarlingData

[2020-06-12 11:46] erikdarlingdata commented on #51
Can you pretty please confirm that you've pulled the newest version down to your repo? The compare looks a little funny.

https://github.com/erikdarlingdata/DarlingData/compare/master...micke314:master

[2020-06-12 11:49] micke314 commented on #51
Yes, I did.
First I fixed it.
Then I removed the use of a temp table that, in my humble opinion, was not necessary anymore.
And since then I have pulled your changes to master into my fork

[2020-06-12 11:50] erikdarlingdata commented on #51
Awesome, thanks! I'll take a look this morning.

[2020-06-12 15:30] erikdarlingdata commented on #51
looks good, thanks! merging in.

[2020-06-12 15:31] #51 closed

[2020-06-13 20:27] pricewise987 opened #53 "sp_HumanEvents - Output Query"
sp_HumanEvents

Current version (updated yesterday)

Hi Erik

Great shout out from Brent today on these scripts

"Live Coding T-SQL with Microsoft SQL Server" on Twitch

I'm trying to figure out where the difference is

Same version of sp_HumanEvents and StackOverflow

I get a different output to Brent (story of my life....!!)

See screen shots below

Any idea why they would be different -apologie

[2020-06-13 20:36] erikdarlingdata commented on #53
It looks like you're using an older version of SQL Server that doesn't support the same events as what brent has. Can you confirm what `SELECT @@VERSION;` returns?

[2020-06-13 22:50] pricewise987 commented on #53
BINGO
Thanks a mill Erik
Ran it on SQL 2019 Developer edition - perfection
Absolutely love PressureDetector and HumanEvents - my new GO-TO scripts.
Looking forward to your next Live stream.
Thank again Erik
Stay Safe
Cathal
    On Saturday, 13 June 2020, 21:36:18 GMT+1, Erik Darling <notifications@github.com> wrote:

It looks like you're using an older version of SQL Server that doesn't support th

[2020-06-13 23:04] erikdarlingdata commented on #53
There you go! Hope that gets you on your way. Thanks!

[2020-06-13 23:04] #53 closed

[2020-06-14 23:29] AdrianB1 opened #54 "sp_HumanEvents error handling - transaction rollback"
Hi, the transaction rollback part in the TRY CATCH block seems wrong. This is the current code:
IF @@TRANCOUNT > 0
        ROLLBACK TRANSACTION;

First, as you don't begin any transaction you should not roll back any; if there is a transaction open, it is not yours to rollback. Second, @@TRANCOUNT can be more than 1 and in that case ROLLBACK will just decrement @@TRANCOUNT by 1, but it will not do

[2020-06-14 23:51] erikdarlingdata commented on #54
right, thanks. it's there as sort of part of my standard try/catch template. granted it'd be a little odd to need a transaction in here, but it's not harming anything.

[2020-06-14 23:51] #54 closed

[2020-06-15 00:47] AdrianB1 opened #55 "sp_HumanEvents raiserror/throw behavior"
**Which script is your question about?**

Script Name: sp_HumanEvents

**Script version**

1.5

**Is your question about how they work, or the results?**
Why it does what it does

**Okay, what's your question?**

The catch block has a RAISERROR on line 3015 just before a THROW. What is the purpose of the RAISERROR in that place, to tell if there was any error in the ROLLBACK at 2986? If yes, that

[2020-06-15 11:48] erikdarlingdata commented on #55
Hi,
Interesting question. I'm pretty sure I added the raiserror in when I was troubleshooting errors in some of the dynamic SQL, but I don't recall fully now. Here's a quick example below.

[code]

[2020-06-15 11:48] #55 closed

[2020-06-15 14:20] AdrianB1 commented on #55
Even in this case, the RAISERROR and THROW are redundant because they will report the same information.

Msg 50000, Level 16, State 1, Line 22
Error number 8134 with severity 16 and a state of 1 in procedure  on line 1
Divide by zero error encountered.
Msg 8134, Level 16, State 1, Line 1
Divide by zero error encountered.

The first 3 lines come from RAISERROR, the next 2 from THROW. The very first

[2020-06-15 19:37] Mnemonic23 opened #56 "Azure DB/MI Detection"
SELECT @version = '1.5', @version_date = '20200501';

Current behavior - when running on a SQL Managed Instance, it properly detects that I'm in Azure, however, two issues immediately arise:

1 - The start commands for the event session refer to SERVER and not DATABASE as the path for Azure SQL DB should be.

2 - When in an MI (as I am), I have access to SERVER EVENTS.  When I run a version where

[2020-06-15 19:42] erikdarlingdata commented on #56
I appreciate the feedback, here! I don't have a managed instance or azure sql db to test this out on. If you do, and you're willing to make a code contribution, awesome. Otherwise, I'm probably going to have to shelf compatibility with cloud stuff, because there are a lot of weird changes.

Thanks!

[2020-06-16 13:08] Mnemonic23 commented on #56
Erik,

I put together some fixes and it now works on both my Managed Instance and
an Azure SQL DB that I had available.  I couldn't test every parameter set,
but at least it works for me.  I tried my best to do a commit back to
source.  This was my very first git-hub contribution, so please let me know
if I did something wrong or it doesn't work properly.  I'm including my
version here as well, ju

[2020-06-16 13:12] erikdarlingdata commented on #56
Will do, thanks for the PR!

[2020-06-16 21:11] pricewise987 commented on #53
Hi Erik
Attached is an Azure Database Compatible Version of sp_PressureDetector.
If you comment out the DAC-enabled check it works perfectly.
Thanks again for these - brilliant scripts to have.
Cathal

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_sour

[2020-06-16 22:09] pricewise987 opened #58 "Azure SQL Database"
**Which script is your question about?**

**sp_PressureDetector**

Attached is an Azure SQL Database Compatible Version of sp_PressureDetector.

[sp_PressureDetector.txt](https://github.com/erikdarlingdata/DarlingData/files/4789315/sp_PressureDetector.txt)

If you comment out the "DAC-enabled" check it works perfectly.

Thanks again for these Erik - brilliant scripts to have.

[2020-06-17 00:13] erikdarlingdata commented on #58
I need to be very honest with you about this, but I want you to know that there's no meanness in anything I'm saying. I appreciate people using these scripts, and taking the time to try to improve upon them. But the thing here is that this doesn't really make an improvement.

Lemme explain why:

You've sent me a text file, not a pull request, with a bit of code that I want in there quoted out. I r

[2020-06-17 00:13] #58 closed

[2020-06-17 12:07] micke314 opened #59 "Would be nice to have the query text in the query plan"
**Is your feature request related to a problem? Please describe.**
When looking at the query plan from sp_HumanEvents, the query text is missing.

**Describe the solution you'd like**
Would be nice to have the query text in the query plan

**Describe alternatives you've considered**
You could have look in the column statement_text but ...

**Are you ready to build the code for the feature?**
Sure,

[2020-06-17 12:51] erikdarlingdata commented on #59
You are an absolute madman.

[2020-06-17 13:17] micke314 commented on #59
Pre 2019 we still miss the attribute StatementType that makes the root operator look good. I see no reliable way of finding out what value it should have. I don't even know what possible values could be there (not specified in the schema) but I would guess (SELECT, UPDATE, DELETE, MERGE).
It does render ok in SSMS without it and better still in Plan Explorer

[2020-06-17 17:02] leebrownhill commented on #56
Thanks so much for this fix. I ran into this issue yesterday on one of our Azure Managed Instances.

Have just tested the fix provided by @Mnemonic23 and i can confirm that it works perfectly on the Managed Instance. The fixed version created a server level extended event and tidied up after itself too.

For others who have encountered this issue, you might want to go an tidy up the left over sess

[2020-06-17 18:23] #59 closed

[2020-06-17 18:23] #56 closed

[2020-06-23 17:49] michaeldspain opened #62 "requested_memory_mb error"
Msg 50000, Level 16, State 1, Procedure sp_HumanEvents, Line 3105 [Batch Start Line 1]

Msg 25713, Level 16, State 15, Line 3
The value specified for event attribute or predicate source, "requested_memory_kb", event, "query_post_execution_showplan", is invalid.

EXEC dbo.sp_HumanEvents @event_type = 'query', @query_duration_ms = 1000, @seconds_sample = 20, @requested_memory_mb = 1024;

Microsoft S

[2020-06-23 17:56] #62 closed

[2020-06-23 17:56] erikdarlingdata commented on #62
This is fixed now, thanks for letting me know.

[2020-08-28 08:15] Zhunya opened #65 "Running from Agent"
**Version of the script**

SELECT @version = '1.5', @version_date = '20200501';

**What is the current behavior?**

First, run:
[code]

Then create job with step code below

[code]

Then I do *first* test run with code above (job step) in SSMS

Output
[code]

For the second attempt got this error:
[code]

**What is the expected behavior?**

That just works =)

**Which versions of SQL Server and wh

[2020-08-28 08:44] Zhunya commented on #65
Debugging some:

Added variable printing and got this:

[code]

[2020-08-28 14:36] erikdarlingdata commented on #65
Closed via #66

[2020-08-28 14:36] #65 closed

[2020-08-31 11:51] Zhunya opened #67 "Problem collecting from XE QUERY "too many levels""
**Version of the script**
Latest

**What is the current behavior?**
SQL Agent collection job fails

Generating insert table statement for keeper_HumanEvents_query
[SQLSTATE 01000] (Message 50000)  Error number 6335 with severity 16 and a state of 101 in procedure sp_HumanEvents on line 2896 XML datatype instance has too many levels of nested nodes. Maximum allowed depth is 128 levels.
[SQLSTATE 42

[2020-08-31 14:15] erikdarlingdata commented on #67
Ah yeah, that's a limitation with SQL Server. Nothing I can do about it at the moment. It may be a case where I could use TRY_CONVERT, but not only is that just for 2016+, but databases have to be in compat level 130 or higher. It's gonna be a while before that's widespread enough to adopt. Thanks though!

[2020-08-31 14:17] #67 closed

[2021-01-27 01:13] erikdarlingdata opened #73 "sp_PressureDetector: Report high percentage of runnable queries"
See [here](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/issues/2776) for details

[2021-01-27 18:15] #73 closed

[2021-02-04 18:37] MoochingTusk opened #75 "sp_HumanEvents - Azure SQL Database DMV Error"
**Version of the script**
SELECT @version = '1.5', @version_date = '20200501';

**What is the current behavior?**
Several errors when running sp_HumanEvents in Azure SQL Database

**If the current behavior is a bug, please provide the steps to reproduce.**
EXEC [dbo].[sp_HumanEvents] @event_type = 'query',
                            @query_duration_ms = 1000,
                            @database

[2021-02-04 19:19] erikdarlingdata commented on #75
Hi there! Thanks for letting me know. Is this code you were going to work on and submit a PR for?

I don't have Azure stuffs to test on -- the [previous commits to make it Azure compatible were from someone else](https://github.com/erikdarlingdata/DarlingData/pull/57/commits/72287758890199032c09f713ad5696c536bd77da) -- so I don't have a good way to fix things.

Lemme know!

Thanks,
Erik

[2021-02-05 08:13] MoochingTusk commented on #75
Hi Erik,

Yes I will, but it may be a week or so before I get to it, so thought I'd raise an issue first. I initially did a simple text find and replace (just to test obviously) but the output table ([keeper_HumanEvents_query]) was empty, so it may not be quite as straightforward as I'd hoped.

Will submit a PR when it's done. Thanks.

[2021-02-05 12:59] erikdarlingdata commented on #75
Cool, thanks! Looking forward to it!

[2021-02-13 19:40] L3onard80 opened #78 "sp_PressureDetector: Add statement_start_offset to facilitate creation of plan guides"
Hi Erik, thanks for the very useful sproc.

Would it be possible to have the column in subject to the right of the **plan_handle** column?
It would make creating plan guides much more convenient.

![image](https://user-images.githubusercontent.com/63165379/107859707-982ace00-6e3b-11eb-8a6a-4f0816a50046.png)

Thanks for the attention.

[2021-02-13 19:41] erikdarlingdata commented on #78
Er... which proc are you referring to?

[2021-02-13 19:43] L3onard80 commented on #78
pff... sorry sp_PressureDetector

[2021-02-13 19:50] erikdarlingdata commented on #78
Sure, that should be easy!

[2021-02-13 20:01] L3onard80 commented on #78
Cool!!

[2021-02-18 18:18] william001 opened #79 "Stored procedure creation script does not complete on SQL Server 2017 Web Edition"
**Version of the script**
@version = '1.5', @version_date = '20200501'

**What is the current behavior?**
When attempting to run the install script on SQL Server 2017 Web Edition (14.0.3370.1), the initial, almost empty stored procedure is created. However, the rest of the script throws the errors below:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Copy t

[2021-03-05 21:05] erikdarlingdata commented on #79
Hi there -- I don't have a copy of Web Edition to test things on. You didn't mention in the issue if you're willing to work on this or not. Please let me know.

Thanks!

[2021-03-05 21:10] #36 closed

[2021-03-05 21:11] #78 closed

[2021-03-05 21:11] erikdarlingdata commented on #75
Checking back in -- did you still want to work on this?

[2021-03-05 21:24] MoochingTusk commented on #75
Hi Eric. Yes definitely it’s still on my list. Work stuff has taken over but should get to it next week.

[2021-03-08 11:49] MoochingTusk commented on #75
PR submitted. This is the first time I've submitted a PR so forgive me if I've not followed the right process. Tried to do as much research as I could!

[2021-03-08 16:28] erikdarlingdata commented on #75
Looks good, thanks!

[2021-03-08 16:29] #75 closed

[2021-03-09 14:23] william001 commented on #79
I'm happy to help. I have fairly good SQL skills but I haven't worked on a big script like yours.

[2021-03-09 14:54] erikdarlingdata commented on #79
Great, thanks! Let me know if I can assist.

[2021-03-18 09:25] wqweto opened #83 "String mangling of @seconds_sample for WAITFOR DELAY"
This works here

[code]

[2021-03-18 11:11] erikdarlingdata commented on #83
@wqweto can you be a little bit more specific about what you'd like me to do with this? Thanks!

[2021-03-18 16:38] wqweto commented on #83
I was reading [this snippet](https://github.com/erikdarlingdata/DarlingData/blob/master/sp_HumanEvents/sp_HumanEvents.sql#L819-L859) and thought it seemed a bit overcomplicated.

Could be I misunderstand the intent and the needed result in `@waitfor` though.

[2021-03-18 16:45] erikdarlingdata commented on #83
Oh that is cool! If you wanna do a PR for it, be my guest.

[2021-03-19 11:03] erikdarlingdata commented on #83
Thank you!

[2021-03-19 11:03] #83 closed

[2021-04-07 19:17] erikdarlingdata commented on #79
It's been about a month, so I'm going to close this out for now. I assume it's not high priority for you. If you decide you want to work on it, just leave a comment here and I'll re-open the issue.

[2021-04-08 06:40] Virtualhurst commented on #79
Fair enough - it isn't my highest priority. I'll see if I can take a crack at it in the next few weeks.

[2021-04-10 10:39] Virtualhurst commented on #79
I have managed to solve the particular errors I was experiencing and I have created PR #91.

1. changes were made to improve compatibility with SQL 2017 web edition:
1. The value of a declared variable could not be set inline. This may be due to Always Encrypted in SSMS rather than 2017. The script is updated to set the value after the declaration.
2. An error occurs when an "IF @debug=1" statemen

[2021-04-10 13:03] erikdarlingdata commented on #79
Hm, not sure on the `IF` part. Does it happen under a simplified repro in web edition? If it's purely a restriction, then you might need to can work here. I can't take the debug thing out, or have it quoted out by default. You may need to maintain a local copy with compatibility changes in place.

For the `TIME` fix, are you sure the behavior is the same?

Thanks,
Erik

[2021-04-12 17:00] drewfurgiuele opened #92 "Why are you so cute?"
I'm having a serious issue with this.

[2021-04-12 17:11] erikdarlingdata commented on #92
have you tried rebooty calling?

[2021-04-13 03:15] TheDBAYogi opened #94 "arithmetic overflow error for type int"
**Version of the script**
20200501

**What is the current behavior?**
arithmetic overflow error for type int when insert into keeper_HumanEvents_blocking

**If the current behavior is a bug, please provide the steps to reproduce.**
This only happens on an extraordinarily busy server, I think the transactionID is greater than the int range

**What is the expected behavior?**
As discussed

**Which v

[2021-04-13 11:02] erikdarlingdata commented on #94
Fair! I can make this change easily.

[2021-04-13 11:09] #94 closed

[2021-05-17 09:40] shabeker opened #107 ""String or binary data would be truncated" error while inserting #query_store_plan"
I get the above error when running the SP on my database. Checking the code, the field all_plan_ids in #query_store_plan is declared varchar(1000), but the FOR XML that concatenates the values for this field is varchar(MAX). If I change the declaration of all_plan_ids to varchar(MAX), the SP runs fine.

[2021-05-17 11:59] erikdarlingdata commented on #107
Jeez, I figured I set that column size on the high side, too.

[2021-05-17 16:17] troydtech opened #109 "sp_QuickieStore Execution errors"
**Version of the script**
sp_QuickieStore 2021
Executing on SQL Server 2017 Standard

**What is the current behavior?**
Compiles ok but getting the following error when executing with any parameters

Msg 50000, Level 11, State 1, Procedure sp_QuickieStore, Line 4300 [Batch Start Line 0]
error while (null)
offending query:
(null)
Msg 50000, Level 11, State 1, Procedure sp_QuickieStore, Line 76 [Bat

[2021-05-17 16:21] erikdarlingdata commented on #109
It sounds like your server isn't patched past CU3. Can you confirm the version number?

[2021-05-17 16:28] #107 closed

[2021-05-17 19:19] troydtech commented on #109
14.0.1000.169

[2021-05-17 19:23] erikdarlingdata commented on #109
Yep, that's RTM. Time to [get patching](https://sqlserverupdates.com/sql-server-2017-updates/). You're on ~4 year old bits there.

[2021-05-17 19:23] #109 closed

[2021-05-17 19:31] troydtech commented on #109
Thanks, I will be dealing with many versions of servers across customer base.   What specifically are the patch levels required for each version from 2016+?  I didn't see anything specific.

This was SQL 2017 so assumed that the base RTM version here would be better than 2016 and still execute.

[2021-05-17 19:37] erikdarlingdata commented on #109
For 2016 it's SP2, for 2017 it's CU3. I didn't document that initially because the bits are so old.

[2021-05-17 20:16] troydtech commented on #109
Thanks for the info!  Just checked and it does work fine on a system with patches up to date.   Might want to add some release notes to that effect but it looks like a nice tool to have in the toolbox.    Have a great day.   Issue is resolved.

[2021-05-17 21:44] MadScientist2000 opened #111 "Won't Run for SQL Server 2016 SP1 CU15 GDR"
**Version of the script**

@version = '1',     @version_date = '20210423';

**What is the current behavior?**

Won't run on SQL Server 2016 build 13.0.4604.0.  It reports:

**Which versions of SQL Server and which OS are affected by this issue? Did this work in previous versions of our procedures?**

13.0.4604.0
4505221 Security update for SQL Server 2016 SP1 CU15 GDR: July 9, 2019  CVE-2019-1068

[2021-05-17 21:48] erikdarlingdata commented on #111
Yep, SP2 is the minimum version it will run on. Happy patching!

[2021-05-17 21:48] #111 closed

[2021-05-19 17:56] ShaunJStu opened #116 "Support needed for large amounts of RAM"
https://github.com/erikdarlingdata/DarlingData/blob/a468b03e18d9b3d0253a74aa6c6bad556df43150/sp_PressureDetector/sp_PressureDetector.sql#L161

I have a large amount of memory on my server (about 1 TB) and this was giving an "arithmetic overflow error converting number to data type numeric" error. Changed DECIMAL(5,2) to DECIMAL(6,2) in three places in this query and that fixed it.

[2021-05-19 18:12] erikdarlingdata commented on #116
Were you going to create a pull request for this?

[2021-05-19 18:59] ShaunJStu commented on #116
I have zero experience with GitHub and pull requests in general, so I'm guessing the answer will end up being no.

[2021-05-19 19:00] erikdarlingdata commented on #116
This is exactly why I have templates for people to fill out when they open issues 😃

[2021-05-19 19:00] #116 closed

[2021-05-20 15:17] erikdarlingdata opened #118 "sp_QuickieStore - Sort By Waits"
Note to self.

[2021-05-26 12:30] #118 closed

[2021-07-23 18:11] AngryRhetoric opened #123 "Saving sp_QuickieStore output for reporting/trending/analyzing?"
Compliments:
First things first, I love this stored procedure, thank you! It has been so handy for performance troubleshooting when I need QueryStore information as a result-set without having to muck with the QueryStore DMV's.

The problem:
You've made it So handy, my boss wants to retain top slow queries (found in QueryStore) for trending, long-term analysis.
I thought: rather than reinvent the

[2021-07-23 19:40] erikdarlingdata commented on #123
Hi Kevin!

Thanks, yeah. Appreciate the kind words.

This is definitely a long-term item I'd been considering, but trying to scope it correctly. Since this proc can produce multiple result sets, I was toying with the idea of being able to export all of them aside from the main output. There's also the looming specter of someone wanting to push the data across servers 😬

Since you're the first pers

[2021-07-23 23:11] AngryRhetoric commented on #123
Hi Erik,

Anytime!  And in thinking more about this, yes, it would probably be easiest to have report versions of all the data offered, even if the scope of what's good for "reporting" or "trending" would likely be (far) less.  Other than that, I know it can be very subjective!

Oh yeah, data across servers or in our case into Azure Data Explorer combined with a handful of other metrics we're keep

[2021-07-28 17:48] AngryRhetoric commented on #123
Hi Erik,

I was able to insert the proc results directly into a temp table by adding your "insert into #temptable" statements inside the dynamic SQL :)
A temporary fix for sure until the reporting mode becomes available, thanks again!

[2021-07-30 20:54] erikdarlingdata commented on #79
Been a while on this, so I'm gonna close it out.

[2021-07-30 20:54] #79 closed

[2021-07-30 20:55] erikdarlingdata opened #124 "sp_QuickieStore - Filter out StatMan stuff"
**Is your feature request related to a problem? Please describe.**
On a client server, I saw a bunch of auto stats updates showing up as the top queries.

**Describe the solution you'd like**
Filter those out along with other index/stats stuff.

**Describe alternatives you've considered**
Human sacrifice

**Are you ready to build the code for the feature?**
``AND   qsqt.query_sql_text NOT LIKE ''S

[2021-07-31 15:32] erikdarlingdata opened #125 "sp_PressureDetector - column order"
Change the column order of the CPU results to put dop next to thread stuff.

[2021-07-31 15:34] #125 closed

[2021-07-31 15:34] #124 closed

[2021-07-31 16:45] erikdarlingdata opened #127 "sp_PressureDetector"
**Is your feature request related to a problem? Please describe.**
Add reserved worker threads to cpu thread counters.

**Describe the solution you'd like**
That thing up there

**Describe alternatives you've considered**
Continuing to not show them

**Are you ready to build the code for the feature?**
Baby it's done

[2021-07-31 16:45] #127 closed

[2021-08-18 06:36] WinterIssue opened #131 "sp_humanevents recompile_cause on SQL Server 2016"
Script Name: sp_humanevents

v2.0

I am running sp_humanevents on SQL 2016 SP2 CU15. The xml generated by the extended event session has the following:

<event name="sql_statement_recompile" package="sqlserver" timestamp="2021-08-18T05:40:39.746Z">
  <data name="recompile_cause">
    <type name="statement_recompile_cause" package="sqlserver" />
    <value>3</value>
    <text>Deferred compile</text

[2021-08-18 13:28] erikdarlingdata commented on #131
Thanks for letting me know about this! Wow, what a weird oversight.

This is fixed in both branches now.

[2021-08-18 13:28] #131 closed

[2021-08-19 06:00] WinterIssue commented on #131
Thanks Erik!

[2021-09-19 21:02] JiriDolezalSQL opened #134 "Creating view dbo.HumanEvents_Parameterization when no compile event exists error"
**Version of the script**
[code]

**What is the current behavior?**
Running
`EXEC sp_HumanEvents @output_database_name = N'some_db', @output_schema_name = N'dbo'`
throws an error

while @keep_alive = 1 **keeper_HumanEvents_blocking** and **keeper_HumanEvents_query** event is running but **keeper_HumanEvents_compiles** is **not set**.

**If the current behavior is a bug, please provide the steps to

[2021-10-04 16:25] #134 closed

[2021-10-04 16:26] erikdarlingdata commented on #134
Hello @JiriDolezalSQL! Thanks for reporting this. I've finally had a chance to take a look, and I believe I have the appropriate fix in place. Please let me know if it's working correctly for you now.

[2021-10-06 21:11] JiriDolezalSQL commented on #134
No more errors in my test. Thank you so much!

[2021-10-07 12:15] SteSinger opened #137 "sp_QuickieStore not displaying function plans"
**Version of the script**
Version: 1.70
Date: 20210731

**What is the current behavior?**
I'm running a pretty slow stored procedure that calls an unholy amount of functions in a loop.
I picked the slowest function form the "Top Resource Consuming Queries" and used the query id to filter sp_QuickieStore.
There are no results.

**If the current behavior is a bug, please provide the steps to reprodu

[2021-10-07 13:53] SteSinger commented on #137
This part is also removing one of my plans.
[code]

Inverting both checks for last_execution_time kicks out a lot of plans.
Perhaps it would be better to remove both checks altogether or return at least the data that could be retrieved?
Seeing the query as the top query in the ui but nowhere in sp_QuickieStore was surprising.
My knowledge about query store is waaaaaay to superficial to propose a g

[2021-10-07 18:04] #137 closed

[2021-10-09 13:19] MsSQLServerDBA opened #141 "sp_HumanEvents"
**Version of the script**
2.1

**What is the current behavior?**

When deploying sp_HumanEvents using DBATools the following error is returned:

WARNING: [09:12:08][Invoke-DbaQuery] [DESKTOP-02TMH0M\SQL2014STD] Failed during execution | Unclosed quotation mark after the characte
r string 'You need to set up the blocked process report in order to use this:
    EXEC sys.sp_configure 'show advanced o

[2021-10-13 13:28] JiriDolezalSQL opened #143 "sp_HumanEvents problem with tempdb utilization on @event_type = N'blocking', @keep_alive = 1"
**Version of the script**
SELECT
    @version = '2.1',
    @version_date = '20210901';

**What is the current behavior?**
I’ve set up sp_HumanEvents @event_type = N'blocking', @keep_alive = 1 XE session and run EXEC sp_HumanEvents @output_database_name = N'<database>', @output_schema_name = N'dbo' … and left it running.

After 12 hours I had to stop this monitoring because of the high utilization

[2021-10-13 17:04] #141 closed, assigned to MsSQLServerDBA

[2021-10-14 12:14] rvsmann opened #144 "Missing Memory Units in "Figure out who's using a lot of CPU" query"
**Is your feature request related to a problem? Please describe.**
In the first section of the output, all memory units are in MB as we are querying RESOURCE_SEMAPHORE DMV. In the last section of the output, we are querying sys.dm_exec_requests which means memory units is in pages. I did a completely different analysis by assuming that it is in MB.

**Describe the solution you'd like**
Make the co

[2021-10-14 12:25] erikdarlingdata commented on #144
I'm assuming this is about `sp_PressureDetector`? If so, makes sense. I think my preference would be to convert the column to calculate pages in MB to standardize it.

If you wanna make that change feel free to fork the repo and make a PR against the dev branch.

Thanks!

[2021-10-18 21:42] erikdarlingdata commented on #143
That's not a bad idea at all. Maybe a silly question: Do you see any of the other session types causing the same issue? It might be worth doing this for others if they do.

Thanks!

[2021-10-18 21:54] JiriDolezalSQL commented on #143
No experiences with other types than = 'blocking' causing this issue. But I am just starting with sp_HumanEvents in my toolbox so it's not much relevant. I tend to stop and start all the HumanEvents XE sessions in the "manager" job (name LIKE N'keeper_HumanEvents%') in my future projects till the resolution.

[2021-10-18 22:10] erikdarlingdata commented on #141
I was reviewing this before writing a blog post about recent changes to the procs, and I noticed that you deleted three of the GO statements, but left in the last one:
![image](https://user-images.githubusercontent.com/2136037/137813477-97fae011-bf25-48cc-a7af-37b5f98fe9f4.png)
Is that intentional, or does it need to be removed? I can do it quickly, or leave it in there, but I wanted to make sure

[2021-10-18 22:47] MsSQLServerDBA commented on #141
Hey Erik!

I just wanted to change as little as possible. It seems to work either with or without the last GO statement so how ever you want to do it is fine with me.

It also seems to work if, instead of removing the GO statements, you add a semicolon after the three GO statements or after all four GO statements, if you prefer.

I think I’ve read about semi colons vs GO statements a few times ove

[2021-10-19 15:25] MsSQLServerDBA commented on #141
Cool. I'll do that and thanks!

From: Erik Darling ***@***.***>
Sent: Tuesday, October 19, 2021 11:25 AM
To: erikdarlingdata/DarlingData ***@***.***>
Cc: MsSQLServerDBA ***@***.***>; Mention ***@***.***>
Subject: Re: [erikdarlingdata/DarlingData] sp_HumanEvents (#141)

I'd submit it to them for sure, but I'm fine with these changes being in the proc.

/* erikdarlingdata.com */
/* sql server perfor

[2021-10-25 21:10] #144 closed, assigned to rvsmann

[2021-10-29 14:31] #143 closed, assigned to nobody

[2021-10-29 20:44] JiriDolezalSQL commented on #143
Can't wait for the blog post you are mentioning. Thanks.

[2021-11-15 16:35] andreasjordan opened #150 "Branches used for download and installation by dbatools"
Hi Erik!

As there is a branch called "main" and another called "master": Which one should we download using https://docs.dbatools.io/Save-DbaCommunitySoftware and install using https://docs.dbatools.io/Install-DbaDarlingData?
Currently we use "master" as default and also allow "dev".
What should we allow?
What should be the default?

Greetings
Andreas

[2021-11-15 16:49] erikdarlingdata commented on #150
@andreasjordan I'm trying to move away from master, please use main.

[2021-11-15 16:51] andreasjordan commented on #150
Thanks, will open a pull request for that soon.

[2021-11-15 16:51] #150 closed

[2022-04-07 19:12] stevepmo opened #156 "Add options to sort by Total CPU, Total Logical reads"
**Is your feature request related to a problem? Please describe.**
Today I wanted to Select the top 25 queries from QueryStore sorted by Total CPU desc, I tried CPU but that gave me the average CPU so didn't account for the number of executions.

**Are you ready to build the code for the feature?**
Possibly - I mean I like dynamic SQL as much as the next guy but this is boss level stuff

[2022-04-19 13:38] cankaya07 opened #157 "sp_humanevents custom schema error."
**Version of the script**
Look in the stored procedure, and it'll have a version date & number near the top. Put that in here. If it's not the current version (dated in the last month), then upgrade to the current version and test that before reporting a bug - we fix a lot of stuff in each new build. We'll flat out close bug reports for older builds.

**What is the current behavior?**
its getting

[2022-05-03 18:28] mattcargile opened #158 "`sp_HumanEvents` - `showplan_xml` Greater Than 128 Nodes"
**Version of the script**
`2.92`
`20211101`

**What is the current behavior?**
Failure to convert query plan xml if greater than 128 nodes or maybe the statement is removed from the output?. I only received this error one time and I couldn't recreate it. I was mainly wondering if this was a thought in the handling. I looked at the below line and it appears there is an "implicit" cast to `xml`?

ht

[2022-05-17 16:45] erikdarlingdata commented on #158
There's really not an easy way to do this, and it has to do with the way query plan XML gets stored from the event session. At some point, it has to end up as XML.

Trying to pull it out by replacing the line you mentioned with this:
[code]
Give me empty strings. If you can figure out a way around that, let me know and I'll reopen the issue. For now, I'm gonna close this out.

[2022-05-17 16:45] #158 closed

[2022-05-17 16:45] erikdarlingdata commented on #156
I tend to avoid these sort orders, because they're not what I want to go after for query tuning. Thanks for the suggestion, though.

[2022-05-17 16:45] #156 closed

[2022-05-17 17:22] mattcargile commented on #158
Gotcha. What about the way Adam is doing it here where he wraps the `xml` as "text" within `xml`?

https://github.com/amachanic/sp_whoisactive/blob/6ac5631445ee611abab89eb1b44570d625010caa/sp_WhoIsActive.sql#L4407-L4413

[2022-05-17 17:23] erikdarlingdata commented on #158
Like I said, if you want to give it a shot, you're more than welcome to.

[2022-05-19 15:49] ajaydwivedi-angelone opened #159 "`exec sp_HumanEvents @event_type = 'blocking'` Blocked"
**Version of the script**
`@version = '2.92', @version_date = '20211101';`

**What is the current behavior?**
`exec sp_HumanEvents @event_type = 'blocking'` is itself blocked by another user session

**Below were the output in messages tab** -

**Below were the blocking details I captured using `sp_WhoIsActive`** -
![image](https://user-images.githubusercontent.com/101084432/169342064-10d2957b-99c

[2022-05-19 15:51] imajaydwivedi opened #160 "exec sp_HumanEvents @event_type = 'blocking' Getting Blocked"
**Version of the script**
`@version = '2.92', @version_date = '20211101';`

**What is the current behavior?**
`exec sp_HumanEvents @event_type = 'blocking'` is itself blocked by another user session

**Below were the output in messages tab** -

**Below were the blocking details I captured using `sp_WhoIsActive`** -
![image](https://user-images.githubusercontent.com/101084432/169342064-10d2957b-99c

[2022-05-19 15:53] erikdarlingdata commented on #160
I don’t create a temp table called #TRADE which means you’ve got tempdb contention issues that I can’t fix.

[2022-05-19 15:53] #160 closed

[2022-07-04 18:31] erikdarlingdata commented on #123
I haven't run into enough use cases for this, so I'm going to close it out. If you decide you want to work on the issue, I'll re-open it.

[2022-07-04 18:31] #123 closed

[2022-07-04 20:37] erikdarlingdata commented on #157
This should be fixed now in the [dev branch](https://github.com/erikdarlingdata/DarlingData/tree/dev).

[2022-07-04 20:37] #157 closed

[2022-08-19 13:44] stefanwochen opened #162 "sp_humanevents"
**Which script is your question about?**

Script Name: sp_humanevents

Is there a way to make this work in RDS SQL Server?

[2022-08-21 19:38] erikdarlingdata commented on #162
@stefanwochen I don’t know; I don’t use RDS terribly often. It would be *really* extra super-duper  helpful if you let me what isn’t working.

[2022-09-05 14:25] gdonufrio opened #179 "seems good"

[2022-09-05 14:31] #179 closed

[2022-09-23 15:46] DrummerDBA opened #181 "sp_WhoIsActive Logging - Implicit conversion error"
**Version of the script**
sp_WhoIsActive Logging.sql - Latest commit [0a81c05](https://github.com/erikdarlingdata/DarlingData/commit/0a81c053bcacc68fb91e8c15614b399b25964280) 26 days ago

**What is the current behavior?**
I found I was getting the following error when running your “sp_WhoIsActive Logging” script:
Msg 257, Level 16, State 3, Procedure sp_add_jobschedule, Line 32
Implicit conversion

[2022-09-23 16:11] erikdarlingdata commented on #181
Yeah, thanks. I had just fixed that in my Ola script yesterday: https://github.com/erikdarlingdata/DarlingData/commit/cb263e65f4fe74850d68baeb029999ca090ac41a

Forgot about this one. I'll take care of it now.

[2022-09-23 16:11] #181 closed

[2022-10-09 03:24] UriDimant opened #184 "Logging result to the table from HumanEvents SP"
Hi Erik, I would like to thank you for the great stored procedure sp_HumanEvents which has been helping me a lot on my day by day job.
Permit me to ask you one question, how I'd like to log into the table all queries that running more than 10 sec, I have seen your video explanation about it, so just tell me if I am on the right way.
EXEC sp_HumanEvents
@event_type = 'query',
@query_duration_ms = 1

[2022-10-10 11:24] genetsmartx opened #185 "ran tempdb out of space"
**Version of the script**
    @version = '3.33',
    @version_date = '20220701';

**What is the current behavior?**
    @version = '3.33',
    @version_date = '20220701';
**If the current behavior is a bug, please provide the steps to reproduce.**
I started watching recompiles, e.g. EXEC sp_HumanEvents @event_type = N'recompiles', @keep_alive = 1;

I started running in a job ever 10 sec: EXEC sp_H

[2022-10-28 19:04] samplesty opened #187 "sp_PressureDetector for Azure SQL DB"
sp_PressureDetector currently fails on Azure SQL DB because of the following reference:

[code]

Would it be possible to aggregate across memory nodes to calculate this, which is available in Azure SQL DB? Something like seems to work for me.

[code]

I'm happy to submit a PR if this sounds reasonable.

[2022-10-28 19:08] erikdarlingdata commented on #187
Sure, go for it.

[2022-10-28 19:33] samplesty commented on #187
Thanks for your consideration! I'm getting a lot out of your training and excited to learn more about your tools!

[2022-10-28 19:33] samplesty commented on #187
Crap! Here's the PR link: https://github.com/erikdarlingdata/DarlingData/pull/188

[2022-11-06 14:12] #187 closed

[2022-11-06 14:32] erikdarlingdata commented on #185
i've got a fix for this coming shortly. thanks for the heads up!

[2022-11-06 14:32] #185 closed

[2022-11-06 14:34] erikdarlingdata commented on #184
I think what you're missing is that you need something to collect the data from the event session and put it into the tables. See the [Agent Job example](https://github.com/erikdarlingdata/DarlingData/blob/main/sp_HumanEvents/sp_Human%20Events%20Agent%20Job%20Example.sql).

[2022-11-06 14:34] #184 closed

[2022-11-06 14:34] #162 closed

[2022-11-09 13:10] HannahVernon commented on #184
The example job is set to start every 10 seconds to enable continuous capture of events data.  Check the job history to see how long it runs each time.

[2022-11-09 13:54] erikdarlingdata opened #190 "Notes From Charles Q. Face Esq"
- It seems your #blocking and #blocked could be combined into one, as the differences are very small.
- Selecting the text() node directly is more performant than relying on implicit atomization, so eg (data[@name="database_id"]/value/text())[1] is faster than just (data[@name="database_id"]/value)[1].
- You don't seem to take into account there could be multiple session targets, so results could

[2022-11-09 14:00] erikdarlingdata commented on #184
Apart from the job running in a loop, there's a loop in the procedure to continuously monitor the sessions. It's not running forever, it's internally looping.

[2022-11-09 16:47] SillyDillyWilly opened #191 "Error on SELECT FOR XML statement"
version = '2.50',
version_date = '20220701';

SQL Server 2014

I'm currently quite often getting this error message while the last query in @cpu_sql is being executed:

Msg 6841, Level 16, State 1, Line 6
FOR XML could not serialize the data for node 'processing-instruction(query)' because it contains a character (0x0000) which is not allowed in XML. To retrieve this data using FOR XML, convert it

[2022-11-09 17:13] erikdarlingdata commented on #191
Thanks. I'll work on this soon.

[2022-11-09 18:44] erikdarlingdata commented on #191
@SillyDillyWilly can you try the version of sp_PressureDetector in the dev branch?

[2022-11-10 05:50] UriDimant commented on #184
I canceled the job after 15 min running on  the calm server

[2022-11-10 09:07] SillyDillyWilly commented on #191
I get a compilation error when I try to install the new code on my SQL Server 2014 instance:

Msg 207, Level 16, State 1, Procedure sp_PressureDetector, Line 788 [Batch Start Line 46]
Invalid column name 'target_kb'.

I don't get the compilation error on a SQL Server 2016, so that must be relateted to a version-dependent change.

[2022-11-10 18:51] SillyDillyWilly commented on #191
I tried to change the code section that couldn't compile on SQL Server 2014 into a dynamic query surrounded by a rudimentory try catch construct and that allowed the sp to be compiled.

`        IF @azure = 1
        BEGIN
            /*
            SELECT
                @total_physical_memory_gb =
                    SUM(domn.target_kb / 1024.)
            FROM sys.dm_os_memory_nodes AS domn;

[2022-11-10 19:32] HannahVernon commented on #191
@erikdarlingdata - from testing 2014, this seems like a possible alternate to obtain the target memory quantity:

[code]

On my SQL Server 2019 box, both versions return the same quantity.  I'm also working on the other issue identified above to see if I can repro it.

[2022-11-10 19:51] HannahVernon commented on #191
I've been unable to repro the XML serialization issue above.  Tried on SQL Server 2014, SQL Server 2017, and SQL Server 2019.  I do see the code is replacing `NCHAR(0)` with `?`, so theoretically this shouldn't be an issue.

[2022-11-11 11:44] SillyDillyWilly commented on #191
The [REPLACE documentation](https://learn.microsoft.com/en-us/sql/t-sql/functions/replace-transact-sql?view=sql-server-ver16) says:

_REPLACE performs comparisons based on the collation of the input. To perform a comparison in a specified collation, you can use [COLLATE](https://learn.microsoft.com/en-us/sql/t-sql/statements/collations?view=sql-server-ver16) to apply an explicit collation to the i

[2022-11-11 15:07] HannahVernon commented on #191
Any chance you can upload a sample of the problematic xml, and share it with us?

[2022-11-11 15:52] erikdarlingdata commented on #191
Yeah, if the big REPLACE still doesn’t fix it, we’d need sample query text to work with. If you can’t provide one, then you’re going to have to figure out the problem in your own and send a pull request over to fix it. I also can’t repro the issue locally.

I’m going to leave this issue open to work on and track the dynamic SQL issue.

/*
I typed this on a phone.
Thanks for understanding.
*/
_____

[2022-11-11 15:56] erikdarlingdata commented on #190
These have been largely addressed.

[2022-11-11 15:56] #190 closed

[2022-11-11 16:13] SillyDillyWilly commented on #191
@HannahVernon: Sorry, I'm allowed to share the queries with the class.

But... I tried to change the collation on the last REPLACE in the sequence to NCHAR(1),N''?'') COLLATE Latin1_General_BIN,NCHAR(0),N''''), i.e. I applied a binary collation, which enables the replace function to handle the 0x0000 character.

After this change I have not seen the error, but I will of course continue to check, a

[2022-11-11 16:49] erikdarlingdata commented on #191
@SillyDillyWilly can you post the exact code fragment you used here? Or create a pull request with the change that worked for you so we can look at it? Thanks!

[2022-11-15 19:36] SillyDillyWilly commented on #191
Sorry, I thought I had done that already, but I will try to be a little more succinct and precise in my comments. :-)
(Most of the previous comments relate the code in the dev branch, which might have contributed to your confusion).

In order to combat the reported error, the bare minimum of what is needed to be changed in the production code, i.e. the code in the main branch, is:

Line 907: dest.

[2022-11-15 19:41] erikdarlingdata commented on #191
Thanks. I’ll take a look! Don’t take offense if I cherry pick some of your changes out and add them into the current dev branch.

/*
I typed this on a phone.
Thanks for understanding.
*/
________________________________
From: SillyDillyWilly ***@***.***>
Sent: Tuesday, November 15, 2022 11:36:33 AM
To: erikdarlingdata/DarlingData ***@***.***>
Cc: Erik Darling ***@***.***>; Mention ***@***.***>
Sub

[2022-11-16 00:12] erikdarlingdata commented on #191
Okay, got a version up in dev that should take care of it. I have to skip on the concat change, since I still run into folks using pre-2012 boxes that I need to support.

[2022-11-16 00:29] aroques opened #195 "Add elapsed_time column (like sp_BlitzWho has)"
**Is your feature request related to a problem? Please describe.**
No, it's not.

**Describe the solution you'd like**
In sp_PressureDetector, I'd like a column that shows how long threads have been running for like sp_WhoIsActive and sp_BlitzWho has.
It would only apply to the tables that show details about running threads.

The format is dd:hh:mm:ss.mss.

sp_WhoIsActive calls the column `dd:hh:m

[2022-11-16 18:29] erikdarlingdata commented on #191
Yeah, high-minded times, those were.

[2022-11-17 09:59] SillyDillyWilly commented on #191
So maybe you should amend your ReadMe file? :-)

I have an idea that could be an improvement:
Currently some of the listed queries from your sp looks like this:
FETCH API_CURSOR000000000075BD67

That isn't really all that helpful as far as showing what is actually going on. Would it be possible to add the actual running query, i.e. FETCH API_CURSOR000000000075BD67 : SELECT ... ?

The only way that

[2022-11-17 16:15] erikdarlingdata commented on #191
I think that's a separate issue, and you should open it as one.

[2022-11-17 21:03] joelax opened #196 "Error Message returns "XML datatype instance has too many levels of nested nodes. Maximum allowed depth is 128 levels.""
@version = '3.33',
@version_date = '20220701'

I get the error in the subject line whenever I try to use the procs to store data into a table using the agent job. It stores some initial data, but then errors with the above. When I run it to just display results, it works correctly, though I did get the error once. My suspicion is that some XML that's either in the extended event, or perhaps the sh

[2022-11-22 04:12] erikdarlingdata commented on #196
Hi @joelax! This has been reported before, but not with a repro so that I could look closer at fixing it.

Likely, this is in the query plan XML, but I'm unsure if it happens _on insert_ or _on query_ from the XML, e.g. it could happen

[code]
The best thing you can do is run the proc with `@Debug = 1` to get more detail on where it's happening, and what intermediate XML results look like.

Thanks

[2022-11-29 17:38] #195 closed